body {
    padding-top: 0px;
}

.toolbar {
    float: left;
}

.header {
    border-bottom: none;
    padding-bottom: 10px;
}

.bandabbva {
    padding-top: 0px;
    margin-bottom: 10px;
    width: 100%;
    height: 10px;
    background: url(../img/unnamed.png) no-repeat;
    background-size: 100%;
}

.btnedit{
	color: #31708f;
}
.btnremove{
	color: #a94442;
}

.modal-dialog .panel-body{
	padding-bottom: 0px;
	padding-top: 10px;	
}

.modal.loading .modal-content:before {
    content: 'Loading...';
    text-align: center;
    line-height: 155px;
    font-size: 20px;
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;
    color: #EEE;
    z-index: 1000;
}
    
@media screen and (min-width: 768px) {  
  .header {
    margin-bottom: 0px;
  }
  .jumbotron {
    margin-top: 30px;
  }  
}